#home,
#about,
#contact,
#login {
    padding-top: 15px;
}

#home h1,
#about h1,
#contact h1,
#login h1 {
    margin-bottom: 15px;
    color: #e0e0e0;
}

#home {
    background: #808080;
    height: 100vh;
}

#about {
    background: #8a548a;
    height: 100vh;
}

#contact {
    background: #4e944e;
    height: 100vh;
}

#login {
    background: #a18f8f;
    height: 100vh;
}
